@model LTWeb_DinhNgocNang_2280602045.Models.Product
<h2>Xóa sản phẩm</h2>
<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <p>Bạn có chắc chắn muốn xóa sản phẩm @Model.Name?</p>
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a href="@Url.Action("Index", "Product")" class="btn btn-secondary">Không</a>
</form>
